<div class="flex items-center h-full w-full relative group">
  <img src="https://i.pravatar.cc/40" alt="avatar"
       class="w-10 h-10 rounded-full cursor-pointer" />

   @if (expanded) {
    <div class="flex gap-2 flex-1 justify-between ml-2">
      <span class="text-sm font-medium">{{ username }}</span>
    </div>
  }

  @if (!expanded) {
    <div class="absolute left-12 bg-gray-800 text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition">
    {{ username }}
  </div>
  }
</div>
